
<div id="wrap">
  
  <mat-card>
    <mat-card-content>
      
      <form [formGroup]="registrationForm">
        
        <mat-form-field color="accent" appearance="outline">
          <mat-label>Full name</mat-label>
          <input matInput type="text" formControlName="name">
          <!-- <mat-error *ngIf=""></mat-error> -->
        </mat-form-field>
        
        <mat-form-field color="accent" appearance="outline">
          <mat-label>Email address</mat-label>
          <input matInput type="email" formControlName="email">
          <!-- <mat-error *ngIf=""></mat-error> -->
        </mat-form-field>
        
        <mat-form-field color="accent" appearance="outline">
          <mat-label>Password</mat-label>
          <input matInput type="password" formControlName="password">
          <!-- <mat-error *ngIf=""></mat-error> -->
        </mat-form-field>
        
        <mat-form-field color="accent" appearance="outline">
          <mat-label>Confirm password</mat-label>
          <input matInput type="password" formControlName="confirm">
          <!-- <mat-error *ngIf=""></mat-error> -->
        </mat-form-field>
        
        <mat-form-field color="accent" appearance="outline">
          <mat-label>ID number</mat-label>
          <input matInput type="text" formControlName="number">
          <!-- <mat-error *ngIf=""></mat-error> -->
        </mat-form-field>
        
        <mat-form-field color="accent" appearance="outline">
          <mat-label>Role</mat-label>
          <input matInput type="text" formControlName="role">
          <!-- <mat-error *ngIf=""></mat-error> -->
        </mat-form-field>
        
        <div class="btn-cont">
          <button mat-icon-button routerLink="../">
            <mat-icon>arrow_back_ios</mat-icon>
          </button>
          <button mat-raised-button class="register" color="accent" type="button" (click)="register()">SUBMIT</button>
        </div>
        
      </form>
      
    </mat-card-content>
  </mat-card>
  
  
</div>
