
<mat-toolbar>
  
  <div class="wrap">
    <span>Professor App</span>
    
    <button mat-icon-button [matMenuTriggerFor]="menuToolbar">
      <mat-icon>menu</mat-icon>
    </button>

    <mat-menu xPosition="before" #menuToolbar="matMenu">
      <button mat-menu-item disabled>blank</button>
      <button mat-menu-item disabled>blank</button>
      <button mat-menu-item (click)="logout()">Logout</button>
    </mat-menu>
  </div>
  
</mat-toolbar>

<div class="wrap">

  
  
  <div class="dv-upload-file">
    
    <h2>Upload research</h2>
    
    <button mat-icon-button (click)="uploadClick()">
      <mat-icon>cloud_upload</mat-icon>
    </button>
    
  </div>

  <mat-divider class="first"></mat-divider>

  <div class="dv-search-file">
    
    <form [formGroup]="filterForm">
  
      <mat-form-field color="accent" (keydown.backspace)="backspace()" appearance="outline">
        <mat-label>Search file</mat-label>
        <input matInput [matAutocomplete]="reactiveAuto" formControlName="filter">
        <mat-autocomplete #reactiveAuto="matAutocomplete" [displayWith]="displayFn"></mat-autocomplete>
      </mat-form-field>
  
    </form>
    
  </div>

  <div class="dv-uploaded-files">
    
    <mat-card>
      <mat-card-content>
        
        <div class="head">
          
          <h4>Research documents</h4>
          
          <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>filter_list</mat-icon>
          </button>

          <mat-menu xPosition="before" #menu="matMenu">
            <button mat-menu-item (click)="onSort('all')">Show all</button>
            <button mat-menu-item (click)="onSort('new')">Sort by newest</button>
            <button mat-menu-item (click)="onSort('old')">Sort by oldest</button>
            <button mat-menu-item (click)="onSort('acc')">Filter accepted</button>
            <button mat-menu-item (click)="onSort('rej')">Filter rejected</button>
            <button mat-menu-item (click)="onSort('pen')">Filter pending</button>
          </mat-menu>
          
        </div>
        
        <mat-divider></mat-divider>
        
        <div class="body">
          
          <!-- <div *ngFor="let document of ( documents | async )"> -->
          <div *ngFor="let document of documents">
            
            <div>
              <div>
                <button mat-icon-button>
                  <mat-icon>description</mat-icon>
                </button>
                <span
                  matTooltip="{{ document?.title }}"
                  matTooltipPosition="above">{{ document?.title | trim }}</span>
              </div>
              
              <div>
                <button mat-icon-button (click)="onDownload(document.url)">
                  <mat-icon>cloud_download</mat-icon>
                </button>
                <p [ngStyle]="{ 'color': shared.getStatus(document.status) }">{{ document?.status }}</p>
              </div>
            </div>
            
            <div>
              <mat-chip-list>
                <mat-chip *ngFor="let chip of document.tags">{{ chip?.name }}</mat-chip>
              </mat-chip-list>
            </div>
            
          </div>
          
        </div>
        
      </mat-card-content>
    </mat-card>
    
  </div>
  

  
</div>
